<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Formulário de cadastro de notícia</title>
</head>

<body>
    <h1>Adicionar notícia</h1>

    <form action="/noticias/salvar" method="post">
        <label>Título</label>
        <input type="text" id="titulo" name="titulo" placeholder="Título da notícia">
        <br />
        <label>Notícia</label>
        <textarea id="noticia" name="noticia" rows="5" cols="30"></textarea>
        <br />
        <label>Resumo</label>
        <textarea id="resumo" name="resumo" rows="5" placeholder="Resumo da notícia"></textarea>
        <br />
        <label>Autor</label>
        <textarea id="autor" name="autor" rows="5" placeholder="Autor da notícia"></textarea>
        <br />
        <label>Data</label>
        <input type="date" id="data_noticia" name="data_noticia" rows="5"  placeholder="Data da notícia"></textarea>
        <br />
        <input type="submit" value="Criar nova notícia">
    </form>
</body>

</html>